[options]
addons_path = {{ odoo_addons_path }}
admin_passwd = {{ admin_passwd }}
csv_internal_sep = ,
db_host = False
db_maxconn = 64
db_name = False
db_user = {{ db_user }}
db_password = {{ db_password }}
db_port = False
db_template = template1
dbfilter = .*
debug_mode = False
demo = {}
email_from = False
import_partial = 
limit_memory_hard = 805306368
limit_memory_soft = 671088640
limit_request = 8192
limit_time_cpu = 60
limit_time_real = 60
list_db = True
log_handler = ["[':INFO']"]
log_level = info
logfile = {{ odoo_log_file }}
login_message = False
logrotate = True
max_cron_threads = 4
netrpc = True
netrpc_interface = 
netrpc_port = 8070
osv_memory_age_limit = 1.0
osv_memory_count_limit = False
pg_path = None
pidfile = False
proxy_mode = False
reportgz = False
secure_cert_file = server.cert
secure_pkey_file = server.pkey
server_wide_modules = None
smtp_password = False
smtp_port = 25
smtp_server = localhost
smtp_ssl = False
smtp_user = False
static_http_document_root = None
static_http_enable = False
static_http_url_prefix = None
syslog = False
test_commit = False
test_enable = False
test_file = False
test_report_directory = False
timezone = False
translate_modules = ['all']
unaccent = False
without_demo = False
workers = 0
xmlrpc = True
xmlrpc_interface = 
xmlrpc_port = 8069
xmlrpcs = True
xmlrpcs_interface = 
xmlrpcs_port = 8071

